@{ 
    if (@Model == null)
    {
        return;
    }
}
<div id="categoryTabs">
   <ul>
      @{
          for(int i = 0; i < @Model.Count; i++)
          {
            <li><a href="#tabs-@i">@Model[i].Name</a></li>
         }
      }      
   </ul>
   @{
       for (int i = 0; i < @Model.Count; i++)
       {
         <div id="tabs-@i">
            @{ Html.RenderPartial("_Category", @Model[i].Name as string); }
         </div>
       }
   }      
</div>
