
@{
    ViewBag.Title = "Index";
}

<div id="categoryTabsWrapper">
    <br/>
</div>

<script>
   var monitoringTool = monitoringTool || {};
   monitoringTool.categoriesTabsActionUrl = '@Url.Action("CategoryTabs", "Category")';
</script>




